<div id="main-nav">
    <div class="row-fluid stats-row">
        <div class="span2 stat first">
            <div class="data">

                <span class="number" data-icon="E"><%#= link_to 'Blog', admin_posts_path %><span class="date">24</span></span>
               <!--  <span class="number" data-icon="E">Blog<span class="date">24</span> --></span>
            </div>
        </div>
        <div class="span2 stat">
            <div class="data">
                <span class="number" data-icon="P">Users<span class="date">5</span></span>

            </div>

        </div>
        <div class="span2 stat">
            <div class="data">
                <span class="number"data-icon="m">Open Orders</span>

            </div>
     <!--        <span class="date">4 Active</span> -->
        </div>
        <div class="stat last">
<!--             <input type="text" class="nav_seach_bar" data-icon="S"> -->
            <i class="nav_search" data-icon="S"></i>
        </div>

    </div>
</div>
<br>

