<div id="main-nav">
    <div class="row-fluid stats-row">
        <div class="span2 stat first">
            <div class="data">

                <span class="number" data-icon="E"><%#= link_to 'Blog', admin_posts_path %>Account Number:<span class="date"> <%=current_user.account.id %></span></span>
               <!--  <span class="number" data-icon="E">Blog<span class="date">24</span> --></span>
            </div>
        </div>
        <div class="span2 stat">
            <div class="data">
                <span class="number" data-icon="P">Current User:<span class="date"><%=current_user.first_name + " " + current_user.last_name%></span></span>

            </div>

        </div>


    </div>
</div>
<br>

