  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="main-nav">
          <ul class="nav">
            <% if session[:account_name].present? %>
              <li><%= link_to 'Foods', foods_path %></li>
          </ul>
          <ul class="profileBar">
            <li class="user visible-desktop"><img src="https://lh6.googleusercontent.com/-4DWbyVDfeZk/AAAAAAAAAAI/AAAAAAAAAAA/NG-rY4cwl40/s96-c/photo.jpg"></li>
              <li class="profile">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%=session[:account_name]%><span class="caret"></span></a>

              <ul class="dropdown-menu">
                <li><a href="#">Setings</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
                  <% else %>
                    <li><a href="#">Signup</a></li>
                    <li><a href="#">Login</a></li>
                  <% end %>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
