<div class="side-panel">
  <ul>
    <% @foods.each do |food| %>
    <li>
       <img src="http://upload.wikimedia.org/wikipedia/en/f/f1/PaneraLogo.png" width="75" height="75" alt="Icon" />

      <div class="desc"><%= link_to food.description, food_path(food), data: { toggle: "modal", target: "#pjax-modal" } %></div>


      <div class="stat"><%= food.status %></div>
      <div id="show_panel"></div>
    </li>
    <% end %>
  </ul>
</div>

<%= gmaps( :map_options => { :container_class => "map_container_renamed" }, "markers" => {"data" => @json, "options" => {"auto_zoom" => false} }) %>


